
.bg-img1{
  text-align: center;
  color: white;
  padding-top: 14%;
}
.text1{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.text2{
  text-align: center;
  padding-top: 9%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
.icons{
  margin: 5px;
  padding-top: 3%;
  float: left;
  width: 400px;
  text-align: center;
}
.icons2{
  float: left;
  padding-left: 15px;
  padding-bottom: 30px;
 }
 #icons{
  
  padding-left: 15px;
  padding-bottom: 18%;
  
 }
h1,h2,h3{
  text-align: center;
}
.text3{
  padding-top: 4%;
  padding-bottom: 3%;
}
.container{
  padding-left: 5%;
  
}
.text4{
  padding-top: 2%;
  padding-bottom: 8%;
  color: white;
}
.form-group{
  padding-top: 3%;
  color: white;
}
#email{
  border-radius: 0%;
  background-color: transparent;
  color: white;
}
#name{
  border-radius: 0%;
  background-color: transparent;
  color: white;
}
#comment{
  border-radius: 0%;
  background-color: transparent;
  color: white;
  padding: 7%;
  padding-top: 10px;
  padding-left: 10px;
}
.icons3{
  float: left;
  padding-top: 3%;
  padding-bottom: 40px;
  padding-right: 20px;
 }
 #icons3{
   padding-left: 27%;
 }
 footer{
   padding-top: 9%;
   text-align: center;
 }

 #dev-hide{
  display: none;
 }
 #design-hide{
  display: none;
 }
 #prod-hide{
  display: none;
 }
 

.middle {
  transition: .4s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-10%, -200%);
  -ms-transform: translate(-10%, -100%);
  text-align: center;
  
}

#work1:hover {
  opacity: 0.55;
  
}

#work1:hover .middle {
  opacity: 1;
}

#work2:hover {
  opacity: 0.55;
}

#work2:hover .middle {
  opacity: 1;
}

#work3:hover {
  opacity: 0.55;
}

#work3:hover .middle {
  opacity: 1;
  
}

#work4:hover {
  opacity: 0.65;
}

#work4:hover .middle {
  opacity: 1;
}

#work5:hover {
  opacity: 0.55;
}

#work5:hover .middle {
  opacity: 1;
}

#work6:hover {
  opacity: 0.55;
}

#work6:hover .middle {
  opacity: 1;
}

#work7:hover {
  opacity: 0.55;
}

#work7:hover .middle {
  opacity: 1;
}

#work8:hover {
  opacity: 0.65;
}

#work8:hover .middle {
    opacity:1;
  
}

.text {
  color: white;
  padding: 16px 32px;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  font: smaller;
}
.textt {
  color: black;
  padding: 29px 32px;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  opacity: 1;
}
.textt2 {
  color:white;
  padding: 29px 32px;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  opacity: 1;
}
.h6{
  font-weight: bolder;
}
#button{
background-color: transparent;
margin: 5px;
border: thin solid rgba(255, 255, 255, 0.856);
margin-left: unset;
color: rgba(255, 250, 250, 0.781);

}
