
.bg-img1{
  text-align: center;
  color: white;
  padding-top: 14%;
}
.text{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.text2{
  text-align: center;
  padding-top: 9%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
.icons{
  margin: 5px;
  padding-top: 3%;
  float: left;
  width: 400px;
  padding-left: 11%;
  text-align: center;
  padding-bottom: 3%;
}
.icons2{
  float: left;
  padding-left: 15px;
  padding-bottom: 30px;
 }
 #icons{
  
  padding-left: 1%;
  
 }
h1,h2,h3{
  text-align: center;
}
.text3{
  padding-top: 4%;
  padding-bottom: 3%;
}
.container{
  padding-left: 5%;
  
}
.text4{
  padding-top: 2%;
  padding-bottom: 8%;
  color: white;
}
.form-group{
  padding-top: 3%;
  color: white;
}
#email{
  border-radius: 0%;
  background-color: transparent;
  color: white;
}
#pass{
  border-radius: 0%;
  background-color: transparent;
  color: white;
}
#comment{
  border-radius: 0%;
  background-color: transparent;
  color: white;
  padding: 7%;
  padding-top: 10px;
  padding-left: 10px;
}
.icons3{
  float: left;
  padding-top: 3%;
  padding-bottom: 40px;
  padding-right: 20px;
 }
 #icons3{
   padding-left: 27%;
 }
 footer{
   padding-top: 9%;
   text-align: center;
 }

 #dev-hide{
  display: none;
 }
 #design-hide{
  display: none;
 }
 #prod-hide{
  display: none;
 }